<div class="container p-grid h-100 w-100">
  <div class="p-col-2 h-100">
    <p-accordion [multiple]="true">
      <p-accordionTab
        *ngFor="let menuItem of menu; index as ind"
        [selected]="ind === 0"
        [header]="menuItem.title"
      >
        <div class="p-grid" *ngFor="let child of menuItem.children">
          <div class="p-col">
            <a [routerLink]="child.link">{{ child.title }}</a>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="p-col-10 h-100">
    <div class="p-grid">
      <!-- <router-outlet></router-outlet> -->
      <!-- <ngx-md
        #main
        (loaded)="onLoad()"
        [path]="
          'https://raw.githubusercontent.com/dimpu/ngx-md/master/README.md'
        "
      ></ngx-md> -->
    </div>
  </div>
</div>
